@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');

* {
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0;
  line-height: 1.5;
  cursor: crosshair;
  background: black;
  color: white;
}

main {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
  position: relative;
}

h1 {
  display: inline-block;
  font-size: 2em;
  font-family: 'Raleway', sans-serif;
  line-height: 1.3em;
}

.image-scroll span {
  cursor: pointer;
}

.x-mobile {
  display: grid;
}

.year {
  flex-basis: 2%;
}

.big-flex {
  display: flex;
  justify-content: space-bewteen;
  padding: 3rem;
  align-items: left;
  gap: 4rem;
  z-index: 999;
  position: fixed;
  background-color: black;
}

.bottom-flex {
  padding: 45vh 2rem 0 2rem;
  position: absolute;
  width: 96vw;
  z-index: 5;
}

.name-property {
  flex-basis: 20%;
}

.text-header {
  flex-basis: 50%
}

hr {
  padding: 0;
  margin: 0;
}

.indices {
  position: fixed;
}

@media (max-width: 1000px) {
  .x-mobile {
    display: none;
  }

  .year {
    flex-basis: 2%;
  }

  h1 {
    font-size: 1.5em;
  }

  .big-flex {
    position: relative;
    background: none;
    background-color: none;
    padding: 2rem;
  }

  .bottom-flex {
    position: relative;
    padding: 0 0 0 0;
    width: 100vw;

  }

  .indices {
    position: relative;
  }

  .name-property {
    flex-basis: 90%;
  }

}


@media (max-width: 1300px) {
  .big-flex {
    flex-direction: column;
  }

  .text-header {
    flex-basis: 100%;
  }
}